*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    background-image: url(https://png.pngtree.com/background/20210712/original/pngtree-cute-hand-drawn-style-math-education-green-pink-background-picture-image_1176712.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color:rgba(210, 180, 140, 0.717);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    background-color:lightblue;
    color:black;
    font-size: large;
    cursor: pointer;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  .start-btn:hover{
     background-color: springgreen;
     font-size: 35px;
     cursor: pointer;
     border: none;
  }
  .next-btn:hover{
    background-color: springgreen;
     font-size: 35px;
     cursor: pointer;
     border: none;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  /* change font size of questions and style=italic by Sweety*/
  #question{
    font-style: bold;
    font-size: 200%;
    text-align: center;
  }
  .answer {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .wrong-answer {
    background-color: rgba(255, 0, 0, 0.5); /* Transparent red background */
  }